<html lang="fr">
{% include 'td/_head.html' %}
<body>
<!-- Navigation-->
{% include 'td/_nav.html.twig' %}
<!-- Header-->
{% include 'td/_header.html.twig' %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% block products %}
            {% endblock %}

        </div>
    </div>
</section>
<!-- Footer-->
{% include 'td/_footer.html.twig' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>